<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Parser</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>
    <div class="container mx-auto">
        <div class="flex flex-col justify-center items-center">

            <p class="mt-5 text-black font-bold text-4xl font-sans text-center">Wordle Parser</p>
            <p class="">By Benjamin Wang, June 2024</p>
            <!-- <input class=" mt-5" type="file" id="img_input" name="img_input" accept="image/png, image/jpeg"/> -->
             <form method="post" onsubmit="handleFileUpload(event)" enctype="multipart/form-data">
                <div class="flex flex-col justify-center items-center">
                    <input class="block my-5 w-full max-w-[250px] text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 
                    focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" name="file" type="file" accept="image/png, image/jpeg">
                    <button class="mb-5 bg-blue-500 hover:bg-blue-700 text-white py-2 font-semibold px-4 rounded">Run Parser</button>
                </div>
            </form>
            <p class="font-semibold">Current URL:</p>
            <p class="font-extralight">{{default_url}}</p>
            <img class="my-5" src="static/{{default_url}}"/>
        
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script>
        function handleFileUpload(e) {
            const file = document.getElementById("file_input")
            
            if (file.files.length === 0) { 
                alert("Please upload a file before running the parser.")
                e.preventDefault();
                return false 
            }
            
        }
    </script>
</body>
</html>